body {
    font-family: Arial, sans-serif;
}

.produto-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.produto-card img {
    width: 100%;
    height: auto;
    max-height: 150px;
}

.produto-card a {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.produto-card a:hover {
    background: #0056b3;
}
.ofertas-empresas {
  text-align: center;
  margin: 20px 0;
}

.empresas-lista-container {
  overflow-x: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.empresas-lista {
  display: flex;
  transition: transform 0.3s ease;
  white-space: nowrap;
}

.empresa {
  margin: 0 10px;
  text-align: center;
  flex-shrink: 0;
}

.empresa img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
}

.indicadores {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicador {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 4px;
  cursor: pointer;
}

.indicador.ativo {
  background-color: #007bff;
}

.ver-todos {
  margin: 0 10px;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  min-width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .empresas-lista {
    overflow-x: auto;
  }
}

@media (max-width: 480px) {
  .empresa img {
    width: 50px;
    height: 50px;
  }

  .ver-todos {
    min-width: 60px;
    height: 60px;
    padding: 10px;
    font-size: 12px;
  }
}
footer {
    background-color: #DD2CFA; /* roxo */
    color: white; /* Texto branco */
    padding: 1.5rem; /* Espaçamento interno */
    text-align: center; /* Centralizar conteúdo */
    margin-top: 1.5rem; /* Espaço acima do footer */
}
/* Cor dos ícones de redes sociais */
footer a {
    color: white; /* Cor dos ícones */
    text-decoration: none; /* Remove o sublinhado dos links */
}

footer a:hover {
    color: #ffcc00; /* Altera a cor ao passar o mouse (amarelo) */
}

/* Cor do menu (Navbar) */
.navbar {
    background-color: #ff6600; /* Cor de fundo do menu */
}

.navbar a {
    color: Black; /* Cor do texto do menu */
}

.navbar a:hover {
    color: #ffcc00; /* Cor ao passar o mouse sobre o texto do menu */
}
.navbar-logo {
  width: 20vw; /* A largura será 20% da largura da tela */
  max-width: 100px; /* Define um tamanho máximo para evitar que fique grande demais */
  min-width: 50px; /* Define um tamanho mínimo para que não fique muito pequena */
  height: auto; /* Mantém a proporção correta da imagem */
}

/* Ajustes para telas muito pequenas (celulares) */
@media (max-width: 280px) {
  .navbar-logo {
    width: 25vw; /* Aumenta um pouco a proporção para melhor visualização */
  }
}
